# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.zip
.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env (якщо є)
venv/
.env/

# Env variables
.env

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/